*.zip
license.xml
*-Local.ps1
packages/

legacy/tests/**/data/**/*
!legacy/tests/**/data/*/
!legacy/tests/**/data/*/README.md
!legacy/tests/**/data/*/.gitkeep

/build/linux/**/data
windows/**/*.dll
windows/tests/**/data/**/*
!windows/tests/**/data/*/
!windows/tests/**/data/*/.gitkeep

/.vscode/
/build/tools/
/build/docker-images.json

windows/tests/**/mssql-data/**/*
windows/tests/**/solr-data/**/*

*.pem
*.crt
*.key
