*.zip
*.update
license.xml

packages/

*-Local.ps1

tests/**/data/**/*
!tests/**/data/*/
!tests/**/data/*/README.md

experimental/tests/**/data/**/*
!experimental/tests/**/data/*/
!experimental/tests/**/data/*/README.md