<?xml version="1.0" encoding="utf-8"?>

<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<add name="collection" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="user id=sa;password=HASH-epsom-sunset-cost7!;data source=172.28.0.2;Initial Catalog=sc_Xdb.Collection.ShardMapManager" />
	<add name="solrCore" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="http://172.28.0.3:8983/solr/sc_xdb" />
</connectionStrings>
