<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <log4net>
            <appender name="LogFileAppender" patch:instead="*[@name='LogFileAppender']" set:type="log4net.Appender.UdpAppender, Sitecore.Logging">
                <remoteAddress value="127.0.0.1" />
                <remotePort value="7777" />
                <encoding value="utf-8" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="[system] %4t %d{ABSOLUTE} %-5p %m"/>
                </layout>
            </appender>
            <appender name="PublishingLogFileAppender" patch:instead="*[@name='PublishingLogFileAppender']" set:type="log4net.Appender.UdpAppender, Sitecore.Logging">
                <remoteAddress value="127.0.0.1" />
                <remotePort value="7777" />
                <encoding value="utf-8" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="[publishing] %4t %d{ABSOLUTE} %-5p %m"/>
                </layout>
            </appender>
            <appender name="ClientLogAppender" patch:instead="*[@name='ClientLogAppender']" set:type="log4net.Appender.UdpAppender, Sitecore.Logging">
                <remoteAddress value="127.0.0.1" />
                <remotePort value="7777" />
                <encoding value="utf-8" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="[client] %4t %d{ABSOLUTE} %-5p %m"/>
                </layout>
            </appender>
            <appender name="SearchLogFileAppender" patch:instead="*[@name='SearchLogFileAppender']" set:type="log4net.Appender.UdpAppender, Sitecore.Logging">
                <remoteAddress value="127.0.0.1" />
                <remotePort value="7777" />
                <encoding value="utf-8" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="[search] %4t %d{ABSOLUTE} %-5p %m"/>
                </layout>
            </appender>
            <appender name="CrawlingLogFileAppender" patch:instead="*[@name='CrawlingLogFileAppender']" set:type="log4net.Appender.UdpAppender, Sitecore.Logging">
                <remoteAddress value="127.0.0.1" />
                <remotePort value="7777" />
                <encoding value="utf-8" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="[crawling] %4t %d{ABSOLUTE} %-5p %m"/>
                </layout>
            </appender>
            <appender name="OwinLogFileAppender" patch:instead="*[@name='OwinLogFileAppender']" set:type="log4net.Appender.UdpAppender, Sitecore.Logging">
                <remoteAddress value="127.0.0.1" />
                <remotePort value="7777" />
                <encoding value="utf-8" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="[owin] %4t %d{ABSOLUTE} %-5p %m"/>
                </layout>
            </appender>
        </log4net>
    </sitecore>
</configuration>