<?xml version="1.0" encoding="utf-8"?>

<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<add name="xconnect.collection" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="https://xconnect" />

	<add name="xdb.marketingautomation" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="user id=sa;password=HASH-epsom-sunset-cost7!;data source=172.28.0.2;Initial Catalog=sc_MarketingAutomation" />
	<add name="xdb.referencedata" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="user id=sa;password=HASH-epsom-sunset-cost7!;data source=172.28.0.2;Initial Catalog=sc_ReferenceData" />
	<add name="messaging" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="user id=sa;password=HASH-epsom-sunset-cost7!;data source=172.28.0.2;Initial Catalog=sc_Messaging" />
</connectionStrings>
