<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
    xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <pipelines>
            <initialize>
                <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
                    <patch:delete />
                </processor>
            </initialize>
        </pipelines>
        <log4net>
            <appender name="LogFileAppender" patch:instead="*[@name='LogFileAppender']" set:type="log4net.Appender.UdpAppender, Sitecore.Logging">
                <remoteAddress value="127.0.0.1" />
                <remotePort value="7777" />
                <encoding value="utf-8" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="system       %d{yyyy-MM-dd HH:mm:ss.fff} %-5p (%4t) %m" />
                </layout>
            </appender>
            <appender name="PublishingLogFileAppender" patch:instead="*[@name='PublishingLogFileAppender']" set:type="log4net.Appender.UdpAppender, Sitecore.Logging">
                <remoteAddress value="127.0.0.1" />
                <remotePort value="7777" />
                <encoding value="utf-8" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="publishing   %d{yyyy-MM-dd HH:mm:ss.fff} %-5p (%4t) %m"/>
                </layout>
            </appender>
            <appender name="ClientLogAppender" patch:instead="*[@name='ClientLogAppender']" set:type="log4net.Appender.UdpAppender, Sitecore.Logging">
                <remoteAddress value="127.0.0.1" />
                <remotePort value="7777" />
                <encoding value="utf-8" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="client       %d{yyyy-MM-dd HH:mm:ss.fff} %-5p (%4t) %m"/>
                </layout>
            </appender>
            <appender name="SearchLogFileAppender" patch:instead="*[@name='SearchLogFileAppender']" set:type="log4net.Appender.UdpAppender, Sitecore.Logging">
                <remoteAddress value="127.0.0.1" />
                <remotePort value="7777" />
                <encoding value="utf-8" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="search       %d{yyyy-MM-dd HH:mm:ss.fff} %-5p (%4t) %m"/>
                </layout>
            </appender>
            <appender name="CrawlingLogFileAppender" patch:instead="*[@name='CrawlingLogFileAppender']" set:type="log4net.Appender.UdpAppender, Sitecore.Logging">
                <remoteAddress value="127.0.0.1" />
                <remotePort value="7777" />
                <encoding value="utf-8" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="crawling     %d{yyyy-MM-dd HH:mm:ss.fff} %-5p (%4t) %m"/>
                </layout>
            </appender>
            <appender name="OwinLogFileAppender" patch:instead="*[@name='OwinLogFileAppender']" set:type="log4net.Appender.UdpAppender, Sitecore.Logging">
                <remoteAddress value="127.0.0.1" />
                <remotePort value="7777" />
                <encoding value="utf-8" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="owin         %d{yyyy-MM-dd HH:mm:ss.fff} %-5p (%4t) %m"/>
                </layout>
            </appender>
            <appender name="AggregationLogFileAppender" patch:instead="*[@name='AggregationLogFileAppender']" set:type="log4net.Appender.UdpAppender, Sitecore.Logging">
                <remoteAddress value="127.0.0.1" />
                <remotePort value="7777" />
                <encoding value="utf-8" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="aggregation  %d{yyyy-MM-dd HH:mm:ss.fff} %-5p (%4t) %m"/>
                </layout>
            </appender>
            <appender name="ContactMergeLogFileAppender" patch:instead="*[@name='ContactMergeLogFileAppender']" set:type="log4net.Appender.UdpAppender, Sitecore.Logging">
                <remoteAddress value="127.0.0.1" />
                <remotePort value="7777" />
                <encoding value="utf-8" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="contactmerge %d{yyyy-MM-dd HH:mm:ss.fff} %-5p (%4t) %m"/>
                </layout>
            </appender>
            <appender name="FxmLogFileAppender" patch:instead="*[@name='FxmLogFileAppender']" set:type="log4net.Appender.UdpAppender, Sitecore.Logging">
                <remoteAddress value="127.0.0.1" />
                <remotePort value="7777" />
                <encoding value="utf-8" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="fxm          %d{yyyy-MM-dd HH:mm:ss.fff} %-5p (%4t) %m"/>
                </layout>
            </appender>
            <appender name="EdsLogFileAppender" patch:instead="*[@name='EdsLogFileAppender']" set:type="log4net.Appender.UdpAppender, Sitecore.Logging">
                <remoteAddress value="127.0.0.1" />
                <remotePort value="7777" />
                <encoding value="utf-8" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="eds          %d{yyyy-MM-dd HH:mm:ss.fff} %-5p (%4t) %m"/>
                </layout>
            </appender>
            <appender name="ExmLogFileAppender" patch:instead="*[@name='ExmLogFileAppender']" set:type="log4net.Appender.UdpAppender, Sitecore.Logging">
                <remoteAddress value="127.0.0.1" />
                <remotePort value="7777" />
                <encoding value="utf-8" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="exm          %d{yyyy-MM-dd HH:mm:ss.fff} %-5p (%4t) %m"/>
                </layout>
            </appender>
            <appender name="PowerShellExtensionsFileAppender" patch:instead="*[@name='PowerShellExtensionsFileAppender']" set:type="log4net.Appender.UdpAppender, Sitecore.Logging">
                <remoteAddress value="127.0.0.1" />
                <remotePort value="7777" />
                <encoding value="utf-8" />
                <layout type="log4net.Layout.PatternLayout">
                    <conversionPattern value="spe          %d{yyyy-MM-dd HH:mm:ss.fff} %-5p (%4t) %m"/>
                </layout>
            </appender>
        </log4net>
    </sitecore>
</configuration>