<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <appSettings>
        <add xdt:Transform="InsertAfter(/configuration/appSettings/add[@key='owin:appStartup'])" key="localenv:define" value="DCK" />
    </appSettings>
</configuration>