<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
    <sitecore role:require="Standalone or ContentManagement" search:require="Solr">
        <contentSearch>
            <configuration>
                <indexes>
                    <index id="sitecore_testing_index">
                        <param desc="core" patch:instead="param[@desc='core']">$(id)</param>
                    </index>
                    <index id="sitecore_suggested_test_index">
                        <param desc="core" patch:instead="param[@desc='core']">$(id)</param>
                    </index>
                </indexes>
            </configuration>
        </contentSearch>
    </sitecore>
</configuration>