<?xml version="1.0" encoding="utf-8"?>

<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<add name="messaging" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="user id=sa;password=HASH-epsom-sunset-cost7!;data source=172.28.0.2;Initial Catalog=sc_Messaging" />
	<add name="processing.engine.storage" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="user id=sa;password=HASH-epsom-sunset-cost7!;data source=172.28.0.2;Initial Catalog=sc_ProcessingEngineStorage" />
	<add name="reporting" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="user id=reportinguser;password=SIF-Default;data source=172.28.0.2;Initial Catalog=sc_Reporting" />
	<add name="xdb.marketingautomation" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="user id=sa;password=HASH-epsom-sunset-cost7!;data source=172.28.0.2;Initial Catalog=sc_MarketingAutomation" />
	<add name="xdb.processing.pools" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="user id=sa;password=HASH-epsom-sunset-cost7!;data source=172.28.0.2;Initial Catalog=sc_Processing.Pools" />
	<add name="xdb.referencedata" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="user id=sa;password=HASH-epsom-sunset-cost7!;data source=172.28.0.2;Initial Catalog=sc_ReferenceData" />
	<add name="collection" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="user id=sa;password=HASH-epsom-sunset-cost7!;data source=172.28.0.2;Initial Catalog=sc_Xdb.Collection.ShardMapManager" />
	<add name="solrCore" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="http://172.28.0.3:8983/solr/sc_xdb" />
</connectionStrings>
