<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
  <add name="core" connectionString="user id=sa;password=HASH-epsom-sunset-cost7!;Data Source=sql;Database=Sitecore.Core" />
  <add name="master" connectionString="user id=sa;password=HASH-epsom-sunset-cost7!;Data Source=sql;Database=Sitecore.Master" />
  <add name="web" connectionString="user id=sa;password=HASH-epsom-sunset-cost7!;Data Source=sql;Database=Sitecore.Web" />
  <add name="analytics" connectionString="mongodb://localhost/Sitecore_analytics" />
  <add name="tracking.live" connectionString="mongodb://localhost/Sitecore_tracking_live" />
  <add name="tracking.history" connectionString="mongodb://localhost/Sitecore_tracking_history" />
  <add name="tracking.contact" connectionString="mongodb://localhost/Sitecore_tracking_contact" />
  <add name="reporting" connectionString="user id=sa;password=HASH-epsom-sunset-cost7!;Data Source=sql;Database=Sitecore.Analytics" />
  <add name="reporting.apikey" connectionString="" />
</connectionStrings>