<?xml version="1.0" encoding="utf-8"?>

<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<add name="security" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=172.28.0.2;Initial Catalog=sc_Core;User ID=sa;Password=HASH-epsom-sunset-cost7!" />
	<add name="web" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=172.28.0.2;Initial Catalog=sc_Web;User ID=sa;Password=HASH-epsom-sunset-cost7!" />
	<add name="messaging" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=172.28.0.2;Initial Catalog=sc_Messaging;User ID=sa;Password=HASH-epsom-sunset-cost7!" />
	<add name="experienceforms" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=172.28.0.2;Initial Catalog=sc_ExperienceForms;User ID=sa;Password=HASH-epsom-sunset-cost7!" />
	<add name="exm.master" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="Data Source=172.28.0.2;Initial Catalog=sc_EXM.Master;User ID=sa;Password=HASH-epsom-sunset-cost7!" />
	<add name="solr.search" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" connectionString="http://172.28.0.3:8983/solr" />
</connectionStrings>